# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Conda environment
dev0/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data folders (raw data, CSVs, images, datasets)
data/
*.csv
*.h5
*.pkl
*.json

# Model folders (saved models, scalers, configs)
models/
*.keras
*.weights.h5

# Environment variables
.env

# Logs
logs/
*.log